UserLocationRecording/bin/AndroidManifest.xml
UserLocationRecording/bin/R.txt
UserLocationRecording/bin/classes/com/demo/userlocationrecording/BuildConfig.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/GPSTrackingService$1.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/GPSTrackingService$2.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/GPSTrackingService.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity$PlaceholderFragment.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$attr.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$dimen.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$drawable.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$id.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$layout.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$menu.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$string.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$style.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R.class
UserLocationRecording/bin/jarlist.cache
UserLocationRecording/gen/com/demo/userlocationrecording/BuildConfig.java
UserLocationRecording/gen/com/demo/userlocationrecording/R.java
UserLocationRecording/bin/UserLocationRecording.apk
UserLocationRecording/bin/classes.dex
UserLocationRecording/bin/classes/com/demo/userlocationrecording/database/DatabaseHandler.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/database/UserLocation.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/database/UserLocationProvider.class
UserLocationRecording/bin/dexedLibs/android-support-v4-1b020a1c86224f65f713ff1f613f1a0d.jar
UserLocationRecording/bin/res/crunch/drawable-hdpi/ic_launcher.png
UserLocationRecording/bin/res/crunch/drawable-mdpi/ic_launcher.png
UserLocationRecording/bin/res/crunch/drawable-xhdpi/ic_launcher.png
UserLocationRecording/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
UserLocationRecording/bin/resources.ap_
