UserLocationRecording/bin/AndroidManifest.xml
UserLocationRecording/bin/R.txt
UserLocationRecording/bin/classes/com/demo/userlocationrecording/BuildConfig.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/GPSTrackingService$1.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/GPSTrackingService$2.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/GPSTrackingService.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity$PlaceholderFragment.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$attr.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$dimen.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$drawable.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$id.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$layout.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$menu.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$string.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$style.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R.class
UserLocationRecording/bin/jarlist.cache
UserLocationRecording/gen/com/demo/userlocationrecording/BuildConfig.java
UserLocationRecording/gen/com/demo/userlocationrecording/R.java
UserLocationRecording/bin/UserLocationRecording.apk
UserLocationRecording/bin/classes.dex
UserLocationRecording/bin/classes/com/demo/userlocationrecording/database/DatabaseHandler.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/database/UserLocation.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/database/UserLocationProvider.class
UserLocationRecording/bin/dexedLibs/android-support-v4-1b020a1c86224f65f713ff1f613f1a0d.jar
UserLocationRecording/bin/res/crunch/drawable-hdpi/ic_launcher.png
UserLocationRecording/bin/res/crunch/drawable-mdpi/ic_launcher.png
UserLocationRecording/bin/res/crunch/drawable-xhdpi/ic_launcher.png
UserLocationRecording/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
UserLocationRecording/bin/resources.ap_
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$anim.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$attr.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$bool.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$color.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$dimen.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$drawable.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$id.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$integer.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$layout.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$string.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$style.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R$styleable.class
UserLocationRecording/bin/classes/android/support/v7/appcompat/R.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/GPSTrackingService$GetAddressTask.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/ListLocationActivity$1.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/ListLocationActivity$PlaceholderFragment.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/ListLocationActivity.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity$1.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity$2.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$anim.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$bool.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$color.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$integer.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$styleable.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/R$xml.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/fragment/LocationDetailFragment.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/places/ReverseGeocoding.class
UserLocationRecording/bin/dexedLibs/android-support-v4-d0c77a2bb77ec93010c0e5a7616e647b.jar
UserLocationRecording/bin/dexedLibs/android-support-v7-appcompat-188ea1872b3763d67ccc72507dbd74ed.jar
UserLocationRecording/bin/dexedLibs/android-support-v7-appcompat-77899296fa0b2092659f15bfe2626afd.jar
UserLocationRecording/bin/res/crunch/drawable-hdpi/ic_search.png
UserLocationRecording/gen/android/support/v7/appcompat/R.java
google-play-services_lib/bin/AndroidManifest.xml
google-play-services_lib/bin/R.txt
google-play-services_lib/bin/classes/android/UnusedStub.class
google-play-services_lib/bin/classes/com/google/android/gms/BuildConfig.class
google-play-services_lib/bin/classes/com/google/android/gms/R$attr.class
google-play-services_lib/bin/classes/com/google/android/gms/R$color.class
google-play-services_lib/bin/classes/com/google/android/gms/R$drawable.class
google-play-services_lib/bin/classes/com/google/android/gms/R$id.class
google-play-services_lib/bin/classes/com/google/android/gms/R$integer.class
google-play-services_lib/bin/classes/com/google/android/gms/R$string.class
google-play-services_lib/bin/classes/com/google/android/gms/R$styleable.class
google-play-services_lib/bin/classes/com/google/android/gms/R.class
google-play-services_lib/bin/google-play-services_lib.jar
google-play-services_lib/bin/jarlist.cache
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_icon_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/common_signin_btn_text_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/ic_plusone_medium_off_client.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/ic_plusone_small_off_client.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/ic_plusone_standard_off_client.png
google-play-services_lib/bin/res/crunch/drawable-hdpi/ic_plusone_tall_off_client.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_icon_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/common_signin_btn_text_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/ic_plusone_medium_off_client.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/ic_plusone_small_off_client.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/ic_plusone_standard_off_client.png
google-play-services_lib/bin/res/crunch/drawable-mdpi/ic_plusone_tall_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_icon_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/common_signin_btn_text_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/ic_plusone_medium_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/ic_plusone_small_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/ic_plusone_standard_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xhdpi/ic_plusone_tall_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_icon_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_disabled_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_disabled_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_disabled_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_disabled_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_focus_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_focus_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_normal_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_normal_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_pressed_dark.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/common_signin_btn_text_pressed_light.9.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/ic_plusone_medium_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/ic_plusone_small_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/ic_plusone_standard_off_client.png
google-play-services_lib/bin/res/crunch/drawable-xxhdpi/ic_plusone_tall_off_client.png
google-play-services_lib/gen/com/google/android/gms/BuildConfig.java
google-play-services_lib/gen/com/google/android/gms/R.java
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity$3.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity$4.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MainActivity$5.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MapActivity$1.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/MapActivity.class
UserLocationRecording/bin/classes/com/google/android/gms/R$attr.class
UserLocationRecording/bin/classes/com/google/android/gms/R$color.class
UserLocationRecording/bin/classes/com/google/android/gms/R$drawable.class
UserLocationRecording/bin/classes/com/google/android/gms/R$id.class
UserLocationRecording/bin/classes/com/google/android/gms/R$integer.class
UserLocationRecording/bin/classes/com/google/android/gms/R$string.class
UserLocationRecording/bin/classes/com/google/android/gms/R$styleable.class
UserLocationRecording/bin/classes/com/google/android/gms/R.class
UserLocationRecording/bin/dexedLibs/google-play-services-cbbfc37f31a592d90cb78e2584876be0.jar
UserLocationRecording/bin/dexedLibs/google-play-services_lib-f2e77a9f898e423bb359cc662ee76238.jar
UserLocationRecording/gen/com/google/android/gms/R.java
UserLocationRecording/bin/classes/com/demo/userlocationrecording/helper/GlobalConstants.class
UserLocationRecording/bin/classes/com/demo/userlocationrecording/helper/NetworkUtil.class
